<li class="posts__item__card">
  <img src="{{svg}}" alt="Flag Country" class="gallery-img-card" width="200">
  <h2 class="posts__title__card">{{official}}</h2>
<p class="posts__text">Capital: {{capital}}</p>
<p class="posts__text">Population: {{population}}</p>
<p class="posts__id">languages: {{language}}</p>
</li>